
a {
    text-decoration: none !important;
}

.x-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.y-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

::-webkit-input-placeholder {
    text-align: left !important;
}

.App > .header {
    width: 100vw;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.App > .app-container {
    height: 100vh;
    padding-top: 65px;
}